<!DOCTYPE html>
<html>
<head>
  <title>Band Tracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href="//fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400italic" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/styles/global.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Band Tracker</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Source available on <a href="//github.com/gracelauren/band_db" target="_blank">GitHub</a>.</p>
  </footer>
</body>
</html>
